*.iml
.gradle
/.kotlin
/local.properties
/remoteconfig.template.json
/.idea
.idea/
.DS_Store
build/
/build
/captures
/caches
/deamons
/native
/Wrapper
.externalNativeBuild
.cxx
/buildSrc/build
/buildSrc/.gradle
*.class
*.ap_
*.dex
*.apk
*.aab
*.war
*.ear
*.zip
*.tar.gz
*.rar
